body {
    
    margin: 0;
}

/* HEADER SECTION */

header {
    background-color: white;
    height: 64px;
    font-family: 'Poppins', sans-serif;
}

header img {
    margin: 12px 10px 12px 24px;
    height: 40px;
}

header p, nav {
    display: inline-block;
}

header p {
    font-size: 32px;
    position: relative;
    bottom: 23px;
    text-transform: uppercase;
}

#colmar-logo {
    font-weight: 600;
    color: rgb(82, 82, 82);
}

#academy-logo {
    color: rgb(175, 175, 175);
}

header nav {
    position: relative;
    top: 24px;
    right: 8px;
}


nav {
    float: right;
}

nav a {
    margin-right: 16px;
    text-decoration: none;
    color:  rgb(82, 82, 82);
}

/* BANNER SECTION */

#banner {
    background-color: lavender;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

#banner-image {
    width: 60%;
    padding: 32px 24px;
}

#banner img {
    width: 100%;
    overflow: hidden;
}

#banner-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

#banner-text h1 {
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 70%;
}

#banner-description {
    position: relative;
    bottom: 40px;
}

#cta-button {
    background-color:  rgb(82, 82, 82);
    max-width: 500px;
    text-align: center;
}



#cta-button a {
    color: white;
    text-decoration: none;
    
}


/* FEATURES SECTION */

#features {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

}

#features-left {
    width: 60%;
    padding: 32px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    border-right: 1px solid gray;
    
}

#features-left img {
   width: 100%;
}

#features-right {
    width: 40%;
    padding-left: 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

#orientation-day {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}


#orientation-day-img {
    width: 35%;
}

#orientation-day-img img {
    width: 100%;
}


#orientation-day-text {
    width: 65%;
    padding-left: 24px;
}